.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
body {
  background-color: rgb(223, 227, 227);
}

.input-section {
  margin: 20px 0;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #3e8642;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #159338;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
